* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'poppins';
  color: black;
  background-color: #ecf0f3;
}
.neumorphic-card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.card {
  width: 350px;
  height: 500px;
  background-color: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  padding: 40px;
  border-radius: 20px;
}
